*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
h1{
    text-align: center;
}
.reg-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px solid black;
    padding: 60px;
    height: 600px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 5px 100px 118px #888888;
}

.form-content{
    width: 500px;
}

.head{
    color:black;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.input-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70px;
}

.input-fields-content{
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}

label,input{
    font-size: 16px;
}

label{
    font-weight: bold;
    width: 30%;
}

input{
    flex: auto;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 6px;
    padding-left: 7px;
}

input:hover{
    border: 2px solid red;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

.button input{
    padding: 8px;
    border-radius: 10px;
    background-color: blue;
    font-weight: bold;
    font-size: 20px;
}

error-output {
    margin-left: 12px;
    font-size: 17px;
    font-style: italic;
    color: red;
    font-weight: bolder;

  }


  @media screen and (max-width: 500px) {
    .reg-frame{
        width: 350px;
        padding: 18px;
    }   
  }

  @media screen and (max-width: 367px) {
    .reg-frame{
        width: 328px;
    padding: 6px;
    }   
  }

  @media screen and (max-width: 320px) {
    .reg-frame{
        width: 316px;
    }  
}

@media screen and (max-width: 285px) {
    
    .reg-frame{
        width: 276px;
    }
    
    .button{
    width: 200px;
    margin-left: 39PX;
    }

}